.logo {
  margin-left: 20px;
  width: 140px;
}

.nav-item a {
  color: black;
  font-size: 1.1rem;
  cursor: pointer;
  text-decoration: none;
  font-weight: 400;
}
.nav-item {
  margin-left: 4px;
  margin-right: 13px;
}

.navbar-collapse {
  display: flex;
  justify-content: flex-end;
}

@media only screen and (max-width: 991px) {
  .nav-item {
    padding: 10px 0px;
    border-top: 2px solid rgb(216, 216, 216);
  }
  .nav-item:nth-of-type(1) {
    border: none;
  }
  .nav-item a {
    cursor: pointer;
    text-decoration: none;
    font-weight: 400;
    color: black;
    font-size: 1.1rem;
  }
  .navbar-collapse {
    display: inline;
  }
}
